#data-container {
  #controlbar {
    padding: 2vh 4vw;
  }

  .selectnode, .selectgateway{
    margin-bottom: 20px;
  }

  .selectgateway{
    margin-left: 40px;
  }

  #downloadButton{
    float: right;
  }
}